*{
    margin: 0;
    padding: 0;
    border: 0.5px solid rgba(194, 3, 3,0);
    /* 盒子模式 預防跑板 */
    box-sizing: border-box;
    transition: 1s;
}
#main{
    width: 92%;
    margin: 0 auto;
    /* 字體 */
    font-family: 'Montserrat', sans-serif;
    /* 跟營幕一樣高 vh=view height */
    height:100vh;
}

#navigation{
    padding:20px 0;
    overflow: hidden;
    height:15vh;
}
#logo{
    float: left;
    margin: 10px;
    font-size: 2em;
   
}
#logo a{
    text-decoration: none;
    color: #000
}
#nav-bar{
    float: right;
    margin: 10px;
    font-size: 1em;
    vertical-align: bottom;
}
#nav-bar a{
    margin: 20px;
    text-decoration: none;
    padding-bottom: 5px;
    color: #000;
    /* 定位 相對定位(父元素) */
    position: relative;
    font-weight: 600;
}
#nav-bar a:hover{
    color: rgba(171, 202, 70, 0.609);
}
/* 偽元素 */
#nav-bar a::before{
    /* 要打才會空出位子 可以放括號標點符號 */
    content:"";
    /* 定位:絕對定位(子元素) */
    position:absolute;
    background-color: #000;
    width: 90%;
    height:1px;
    margin:0 5%;
    bottom:-3px;
}
/* class前面用. id前面用# */
.picture img{

    /* 自動縮放  fill/ contain/cover */
    /* object-fit: contain; */
    width: 120%;
    max-width: 500px;
    position: absolute;
    left: -50%;
    top:20%;
}
.picture{
    background-color: rgba(171, 202, 70, 0);
    position: relative;
    margin-right: 20px;

}
.work1 .picture{
    background-image: url(/img/green.png);
    background-size: 110%;
    background-repeat: no-repeat;
    background-position-x: -80px;
    
}
.work1{
    display: none;
    grid-template-columns: 40% 20% 40%;
    height:75vh;
}
.active{
    display:grid;
}
#main footer{
    height:10vh;
    text-align: center;
    color: rgb(87, 88, 88);
    margin-top: 15px;
}
.words h1{
   margin-top:40px; 
   margin-bottom:30px;
   color: rgba(171, 202, 70, 0.87);
   font-size: 60px;
}
.words .button{
  margin-top: 30px;
  text-decoration: none;
  display: inline-block;
  font-size:20px;
  color: rgb(0, 0, 0);
  transition:2s;
}
.words p{
    line-height: 3;
    font-weight: 550;
    color: rgb(75, 73, 73);
    font-size: 0.9em;
}
.words{
    margin:15px;
}
.words hr{
    height:3px;
    background-color:rgba(171, 202, 70, 0.609);
    margin-bottom: 15px;
}

.words .button:hover{
    transform: translateX(30px);
}
.ufo h2{
    font-size: 50px;
    margin-top: 0px;
    margin-left: 50px;
    color:rgb(241, 116, 58);
}
.ufo h1{
    margin-top:5px;
    margin-bottom: 0px;
    color: rgb(241, 116, 58);
}
.ufo .words hr{
   background-color:rgb(241, 116, 58);
   margin-top: 10px;
}
.ufo .picture{
    background-color: rgba(241, 116, 58, 0);
    position: relative;
    background-image: url(/img/pink.png);
    background-repeat: no-repeat;
    background-size: 110%;
    background-position-x: -90px;
    background-position-y:10px; 
}
.ufo .picture img{
    position: absolute;
    top:100px;
    left: -200px;
}
/* 作品導覽列 */
#work-nav{
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}
#work-nav a{
    color: rgb(100, 99, 99);
    text-decoration: none;
    font-weight:700;
    position: relative;
}
#work-nav a::after{
    content:"";
    position: absolute;
    display: inline-block;
    background-color: rgb(100, 99, 99);
    height:2px;
    bottom:-5px;
    left:0px; 
    width: 0%;
    transition: 1s
}
#work-nav a:hover::after{
    width: 100%;
}

#work-nav a:nth-of-type(1){
    color: rgba(171, 202, 70, 0.87);
}
#work-nav a:nth-of-type(1):after{
    background-color: rgba(171, 202, 70, 0.87);
}
#work-nav a:nth-of-type(2):hover{
    color:rgb(241, 116, 58);
}
#work-nav a:nth-of-type(2):after{
    background-color:rgb(241, 116, 58);
}
#work-nav a:nth-of-type(3):hover{
    color:rgb(47, 187, 223);
}
#work-nav a:nth-of-type(3):after{
    background-color:rgb(47, 187, 223);
}
.light h1{
margin-top:0px;
color:rgb(89, 170, 190);   
}
.light .button{
    margin-top: 0px;
}
.light .picture{
    position: relative;
    background-image: url(/img/blue.png);
    background-repeat: no-repeat;
    background-size: 130%;
    background-position-x: -130px;
}
.light .picture img {
    width: 130%;
    max-width: 800px;
    position: absolute;
    left:-300px;
    top:5px;
}
.light .words hr{
    background-color:rgb(89, 170, 190);  
}
/* yummy start */
.picture1 h1{
    font-size: 60px;
    margin: 10px;
    margin-bottom: 20px;
    color: rgba(171, 202, 70, 0.87);
}
.workinformation{
    display: inline block;
    margin: 10px;
    color: rgb(75, 73, 73);
    font-size: 0.9em;
    
}
.picture1 img{
    width: 100%;
}
.description{
    text-align: center;   
    margin:20px;
    width: 750px;
    margin:0 auto 0 auto;
    color: rgb(75, 73, 73);
    font-size: 0.9em;
}

.yilanchair img{
    width: 100%;
}
.yilanchair h2{
    text-align: center;
    margin:20px;
    color: rgb(75, 73, 73);
}
.yilanchair p{
    text-align: center;
    width:800px;
    margin:0 auto 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
    color: rgb(75, 73, 73);
    font-size: 0.9em;
}
.yilanchair hr{
    background-color: rgba(171, 202, 70, 0.87);
    width: 100px;
    margin:0 auto 0 auto;
    height: 2px;
}
.model img{
    width: 100%;
}
.model h2{
    text-align: center;
    margin:20px;
    color: rgb(75, 73, 73);
}
.model p{
    text-align: center;
    width:800px;
    margin:0 auto 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
    color: rgb(75, 73, 73);
    font-size: 0.9em;
}
.model hr{
    background-color: rgba(171, 202, 70, 0.87);
    width: 100px;
    margin:0 auto 0 auto;
    height: 2px;
    margin-bottom: 20px;
}
.material img{
    width: 80%;
}
.material{
    position: relative;
}
.material p{
    line-height: 7;
    position: absolute;
    left:450px;
    top:120px;
    font-size: 1.5em;
    color: rgb(75, 73, 73);
    
    
}
.material h2{
    position: absolute;
    top:50px;
    left:500px;
    color: rgb(75, 73, 73);
    
}
.material hr{
    background-color: rgba(171, 202, 70, 0.87);
    width: 100px;
    height: 2px;
    position: absolute;
    top:100px;
    left:570px;
    }
.process{
    width:100%;
}
