#navigation{
    padding:0px 0;
    overflow: hidden;
    height:15vh;
    position: fixed;
    width: 100%;
    background-color: rgba(233, 231, 218, 0.842);
    /* 前後順序1最前面 */
    z-index: 1;
}
#navigationwords{
    margin-left: 600px;
}
#logo{
    float: center;
    margin: 10px;
    font-size: 2em;  
}
#logo a{
    text-decoration: none;
    color: #000;
    text-align: center;
}
#nav-bar{
    margin-left: 40px;
    font-size: 1em;
    vertical-align: bottom;    
}
#nav-bar a{
    margin: 20px;
    text-decoration: none;
    padding-bottom: 5px;
    color: rgb(83, 69, 41);
    /* 定位 相對定位(父元素) */
    position: relative;
    font-weight: 600;
    transition: 1s;
}
#nav-bar a:hover{
    color:  rgba(177, 223, 253, 0.87);
}

.workhover img{
    width: 300px;
    opacity: 1;
    display: block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
.workhover {
    position: relative;
    width: 50%;
  }
  .hovertext {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 44%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .workhover:hover .image {
    opacity: 0.2;
  }
  
  .workhover:hover .hovertext {
    opacity: 1;
  }
  
  .hovertext {
    color: rgb(98, 116, 37);
    font-size: 16px;
    padding: 16px 32px;
  }
#indexpage{
    position: relative;
}
#returnlight{
    position: absolute;
    top: 100px;
    left: 100px;
}
#yummy{
    position: absolute;
    top: 100px;
    left: 440px;
}
